:root
{
	--colorTabBack:var(--colorContentBack);
	--colorTabBackHover:lightgray;
	--colorTabBackSelected:lightblue;
	
	--colorTabFore:var(--colorContentFore);
	--colorTabForeHover:var(--colorButtonFore);
	--colorTabForeSelected:var(--colorButtonFore);
	
	--colorEntryBackInstalled:var(--colorContentBack);
	--colorEntryBackInstalledHover:lightgray;
	--colorEntryBackInstalledSelected:lightblue;
	
	--colorEntryBackUninstalled:var(--colorEntryBackInstalled);
	--colorEntryBackUninstalledHover:var(--colorEntryBackInstalledHover);
	--colorEntryBackUninstalledSelected:var(--colorEntryBackInstalledSelected);
	
	--colorEntryBackDownloading:var(--colorEntryBackInstalled);
	--colorEntryBackDownloadingHover:var(--colorEntryBackInstalledHover);
	--colorEntryBackDownloadingSelected:var(--colorEntryBackInstalledSelected);
	
	--colorEntryForeInstalled:var(--colorContentFore);
	--colorEntryForeInstalledHover:var(--colorEntryForeInstalled);
	--colorEntryForeInstalledSelected:var(--colorEntryForeInstalled);
	
	--colorEntryForeUninstalled:darkgray;
	--colorEntryForeUninstalledHover:black;
	--colorEntryForeUninstalledSelected:black;
	
	--colorEntryForeDownloading:darkgreen;
	--colorEntryForeDownloadingHover:var(--colorEntryForeDownloading);
	--colorEntryForeDownloadingSelected:var(--colorEntryForeDownloading);
	
	--colorButtonBack:lightgray;
	--colorButtonBackHover:lightblue;
	--colorButtonBackDisabled:darkgray;
	
	--colorButtonFore:var(--colorContentFore);
	--colorButtonForeHover:var(--colorButtonFore);
	--colorButtonForeDisabled:var(--colorButtonFore);
	
	--colorButtonSide:var(--colorContentFore);
	--colorButtonSideHover:var(--colorButtonSide);
	--colorButtonSideDisabled:var(--colorButtonSide);
	
	--colorLongbarBack:#EBF5F9;
	--colorLongbarFore:var(--colorContentFore);
	--colorLongbarSide:var(--colorLongbarBack);
	
	--colorContentBack:white;
	--colorContentFore:black;
	
	--colorHeadingBack:var(--colorContentBack);
	--colorHeadingFore:var(--colorContentFore);
	
	--fontSerif:"Times New Roman", Tinos, "Liberation Serif", serif;
	--fontSansSerif:Arial, sans-serif;
	
	--fontTab:var(--fontSerif);
	--fontEntry:var(--fontSerif);
	--fontButton:var(--fontSansSerif);
	--fontLongbar:var(--fontSerif);
	--fontContent:var(--fontSerif);
	--fontHeading:var(--fontSerif);
}

body
{
	font-family:var(--fontContent);
	background-color:var(--colorContentBack);
	           color:var(--colorContentFore);
}

/* Links */

a.disabled
{
	cursor:not-allowed;
	color:#555;
	text-decoration-line:line-through;
}

/* Buttons / Tabs */

button
{
	font-family: sans-serif;
	display:inline-block;
	padding:4px;
	cursor:default;
	user-select:none;
	margin-top:4px;
	margin-bottom:4px;
	border-radius:4px;
	line-height:18px;
	height:18px;
	box-sizing:content-box;
}

.modalClose
{
	font-weight:bold;
	width:16px;
	height:16px;
	text-align:center;
	position:absolute;
	top:24px;
	right:24px;
	margin:0px 0px 0px 0px;
	font-size:150%;
}

button.inprogress
{
	cursor:wait;
}

.tab
{
	font-family:var(--fontTab);
	background-color:var(--colorTabBack);
	           color:var(--colorTabFore);
}

.tab:hover
{
	background-color:var(--colorTabBackHover);
	           color:var(--colorTabForeHover);
}

.activeTab.tab, .activeTab.tab:hover
{
	text-decoration:underline;
	background-color:var(--colorTabBackSelected);
	           color:var(--colorTabForeSelected);
}

/* Installed */

#librarySidebar li
{
	font-family:var(--fontEntry);
	background-color:var(--colorEntryBackInstalled);
	           color:var(--colorEntryForeInstalled);
}

#librarySidebar li:hover
{
	background-color:var(--colorEntryBackInstalledHover);
	           color:var(--colorEntryForeInstalledHover);
}

#librarySidebar li.activeGameEntry, #librarySidebar li.activeGameEntry:hover
{
	text-decoration:underline;
	background-color:var(--colorEntryBackInstalledSelected);
	           color:var(--colorEntryForeInstalledSelected);
}

/* Uninstalled */

#librarySidebar li.uninstalled
{
	font-weight:lighter;
	font-family:var(--fontEntry);
	background-color:var(--colorEntryBackUninstalled);
	           color:var(--colorEntryForeUninstalled);
}

#librarySidebar li.uninstalled:hover
{
	background-color:var(--colorEntryBackUninstalledHover);
	           color:var(--colorEntryForeUninstalledHover);
}

#librarySidebar li.activeGameEntry.uninstalled, #librarySidebar li.activeGameEntry.uninstalled:hover
{
	text-decoration:underline;
	background-color:var(--colorEntryBackUninstalledSelected);
	           color:var(--colorEntryForeUninstalledSelected);
}

/* Downloading */

#librarySidebar li.downloading
{
	font-family:var(--fontEntry);
	background-color:var(--colorEntryBackDownloading);
	           color:var(--colorEntryForeDownloading);
}

#librarySidebar li.downloading:hover
{
	background-color:var(--colorEntryBackDownloadingHover);
	           color:var(--colorEntryForeDownloadingHover);
}

#librarySidebar li.activeGameEntry.downloading, #librarySidebar li.activeGameEntry.downloading:hover
{
	text-decoration:underline;
	background-color:var(--colorEntryBackDownloadingSelected);
	           color:var(--colorEntryForeDownloadingSelected);
}

/* ... */

button
{
	font-family:var(--fontButton);
	font-weight:bold;
	border:1px solid var(--colorButtonSide);
	background-color:var(--colorButtonBack);
	           color:var(--colorButtonFore);
}

button:hover
{
	border:1px solid var(--colorButtonSideHover);
	background-color:var(--colorButtonBackHover);
	           color:var(--colorButtonForeHover);
}

button.na, button.na:hover
{
	cursor:not-allowed;
	border:1px solid var(--colorButtonSideDisabled);
	background-color:var(--colorButtonBackDisabled);
	           color:var(--colorButtonForeDisabled);
}

/* Main */

#tabs
{
	border-bottom:solid var(--colorContentFore) 1px;
}

#tabs
{
	font-weight:bold;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	user-select:none;
}

.tabBody
{
	box-sizing:border-box;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	border:none;
	/*border:solid var(--colorContentFore) 1px;*/
}

#librarySidebar
{
	box-sizing:border-box;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	overflow-y:scroll;
	cursor:default;
	user-select:none;
}

#libraryMain
{
	box-sizing:border-box;
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	overflow-y:scroll;
}

h1, h2
{
	font-family:var(--fontHeading);
	background-color:var(--colorHeadingBack);
	           color:var(--colorHeadingFore);
	margin-top:0px;
	margin-bottom:0px;
}

.tab, #tabs
{
	cursor:default;
}

#librarySidebar li
{
	font-weight:bold;
	list-style-type:none;
}

#librarySidebar ul
{
	padding:0px;
}

#tabBodySettings, #tabBodyAbout
{
	overflow-y:scroll;
}

#tabBodyAbout ul
{
	margin-top:0px;
	padding-left:1.5em;
}

#tabBodySettings ul, .modal ul
{
	list-style-type:none;
	padding-left:0.8em;
	margin-top:0px;
}

.modal ul
{
	padding-left:0px;
}

h2
{
	margin-bottom:0px;
}

.modal
{
	position:fixed;
	background-color:var(--colorContentBack);
	text-align:center;
	border-radius:32px;
	border:1px solid var(--colorContentFore);
}

.backdrop
{
	display:none;
	position:fixed;
	top:var(--pxTopbarHeight);
	left:var(--pxSidebarWidth);
	bottom:0px;
	right:0px;
	background-color:rgba(0, 0, 0, 0.5);
}

.longbar
{
	border:1px solid var(--colorLongbarSide);
	background-color:var(--colorLongbarBack);
	           color:var(--colorLongbarFore);
	padding-left:var(--pxStandardPadding);
	padding-right:var(--pxStandardPadding);
}

.libraryMainWrapper
{
	width:100%;
	box-sizing:border-box;
}

/* -------- */

.libraryMainWrapper
{
	padding-left:var(--pxStandardPadding);
	padding-right:var(--pxStandardPadding);
}

.modal
{
	padding:var(--pxStandardPadding);
	top:calc(var(--pxTopbarHeight) + var(--pxStandardPadding));
	left:calc(var(--pxSidebarWidth) + var(--pxStandardPadding));
	bottom:var(--pxStandardPadding);
	right:var(--pxStandardPadding);
}

.tabBody
{
	top:var(--pxTopbarHeight);
	padding:var(--pxStandardPadding);
}

#librarySidebar
{
	width:var(--pxSidebarWidth);
}

#librarySidebar li
{
	padding:0px var(--pxStandardPadding);
}

#librarySidebar ul
{
	margin:var(--pxStandardPadding) 0px;
}

#libraryMain
{
	padding-top:var(--pxStandardPadding);
	padding-bottom:var(--pxStandardPadding);
	left:var(--pxSidebarWidth);
}

#tabs
{
	font-size:var(--fontSizeMedium);
	height:var(--pxTopbarHeight);
	padding:calc(var(--pxStandardPadding) / 4) var(--pxStandardPadding);
	box-sizing:border-box;
}

h1
{
	font-size:var(--fontSizeLarge);
}

h2
{
	font-size:var(--fontSizeMedium);
}

/* Large */
@media (min-width: 600px)
{
	:root
	{
		--pxSidebarWidth:256px;
		--pxTopbarHeight:48px;
		--pxStandardPadding:16px;
		--fontSizeLarge:32px;
		--fontSizeMedium:2em;
	}

	/* Large-exclusive */
	
	#gameButtonBar
	{
		position:relative;
		height:28px;
		margin-bottom:4px;
		padding-top:4px;
		padding-bottom:4px;
	}

	#gameButtonBarLeft
	{
		position:absolute;
		top:0px;
		left:var(--pxStandardPadding);
		display:block;
	}

	#gameButtonBarRight
	{
		position:absolute;
		top:0px;
		right:var(--pxStandardPadding);
		display:block;
	}

	#gameLinksBarCenter
	{
		display:block;
		text-align:center;
		margin-bottom:4px;
	}
}

/* Small */
@media (max-width: 599px)
{
	:root
	{
		--pxSidebarWidth:192px;
		--pxTopbarHeight:24px;
		--pxStandardPadding:8px;
		--fontSizeLarge:24px;
		--fontSizeMedium:16px;
	}
}

/* Super Small */
@media (max-width: 449px)
{
	.modal
	{
		left:var(--pxStandardPadding);
	}

	.backdrop
	{
		left:0px;
	}
}
